@import '../../css/variables';

// Silent classes
%small {
  padding: 0.5em 1em;
  font: $font-tiny-heavy;
}

%medium {
  padding: 0.5em 1em;
  font: $font-p-heavy;
}

%large {
  padding: 1em 1.5em;
  font: $font-p-heavy;
}

/* BUTTON */
.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: $button-border-width solid transparent;
  border-radius: $button-border-radius;
  color: $primary-practical-blue;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

// Sizes
.small {
  @extend %small;
}

.medium {
  @extend %medium;
}

.large {
  @extend %large;
}

// Variants
.primary {
  border-color: $primary-magic-green;
  background-color: $primary-magic-green;

  &:hover {
    border-color: $magic-500;
    background-color: $magic-500;
  }

  &:focus {
    border-color: $primary-practical-blue;
    background-color: $primary-magic-green;
  }

  &:active {
    border-color: $magic-700;
    background-color: $magic-700;
  }
}

.secondary {
  border-color: $primary-magic-green;
  background-color: $white;

  &:hover {
    background-color: $magic-050;
  }

  &:focus {
    border-color: $primary-practical-blue;
  }

  &:active {
    border-color: $primary-magic-green;
    background-color: $magic-200;
  }
}

.grey {
  border-color: $iron-100;
  background-color: $white;

  &:hover {
    background-color: $iron-025;
  }

  &:focus {
    border-color: $primary-practical-blue;
  }

  &:active {
    border-color: $iron-100;
    background-color: $iron-100;
  }
}

.red {
  border-color: $crimson-600;
  background-color: $crimson-600;
  color: $white;

  &:hover {
    border-color: $crimson-700;
    background-color: $crimson-700;
  }

  &:focus {
    border-color: $primary-practical-blue;
  }

  &:active {
    border-color: $crimson-800;
    background-color: $crimson-800;
  }
}

.redOutline {
  border-color: $crimson-600;
  background-color: $white;

  &:hover {
    background-color: $crimson-050;
  }

  &:focus {
    border-color: $primary-practical-blue;
  }

  &:active {
    border-color: $crimson-600;
    background-color: $crimson-200;
  }
}

.transparent {
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $primary-link-blue;
  }

  &:active {
    color: $practical-600;
  }
}

.disabled {
  cursor: not-allowed;
  border-color: $iron-050;
  background-color: $iron-050;
  color: $iron-300;
}

.fullWidth {
  width: 100%;
}

/* BUTTON GROUP */
.buttonGroup {
  &.fullWidth {
    display: flex;

    > .button {
      flex-grow: 1;
    }
  }

  &--small {
    > .button {
      @extend %small;
    }
  }

  &--medium {
    > .button {
      @extend %medium;
    }
  }

  &--large {
    > .button {
      @extend %large;
    }
  }

  > .button {
    position: relative;
    z-index: 1;
    border-radius: 0;

    &:focus {
      z-index: 2;
    }

    &:first-child {
      border-top-left-radius: $button-border-radius;
      border-bottom-left-radius: $button-border-radius;
    }

    &:last-child {
      border-top-right-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;
    }

    &.grey,
    &.disabled {
      &,
      &:active:focus {
        z-index: 0;
      }
    }

    &.disabled {
      border-color: $iron-100;
    }

    + .button {
      margin-left: -$button-border-width;
    }
  }
}
