// Font family
$default-font-family: 'Faktum', 'Open Sans', 'Helvetica Neue', arial, sans-serif !default;

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

// Font sizes
$default-font-size: 1rem !default; // 16px
$font-size-xs: $default-font-size * 0.75; // 12px
$font-size-sm: $default-font-size * 0.875; // 14px
$font-size-md: $default-font-size; // 16px
$font-size-lg: $default-font-size * 1.1875; // 19px

// Line height
$font-lh-xs: 1.4; // 16/12px
$font-lh-sm: 1.45; // 20/14px
$font-lh-md: 1.5; // 24/16px
$font-lh-lg: 1.6; // 30/19px

/* FONT STYLES */
/* stylelint-disable */
$font-heading-1: #{$font-semibold} #{$default-font-size * 2.875}/ 1.15 #{$default-font-family}; // 46/52px
$font-heading-2: #{$font-semibold} #{$default-font-size * 2}/ 1.15 #{$default-font-family}; // 32/36px
$font-heading-3: #{$font-semibold} #{$default-font-size * 1.5}/ 1.2 #{$default-font-family}; // 24/28px
$font-intro: #{$font-semibold} #{$font-size-lg}/#{$font-lh-lg} #{$default-font-family};

$font-p-heavy: #{$font-semibold} #{$font-size-md}/#{$font-lh-md} #{$default-font-family};
$font-p-med: #{$font-medium} #{$font-size-md}/#{$font-lh-md} #{$default-font-family};
$font-p-reg: #{$font-regular} #{$font-size-md}/#{$font-lh-md} #{$default-font-family};

$font-ps-heavy: #{$font-semibold} #{$font-size-sm}/#{$font-lh-sm} #{$default-font-family};
$font-ps-med: #{$font-medium} #{$font-size-sm}/#{$font-lh-sm} #{$default-font-family};
$font-ps-reg: #{$font-regular} #{$font-size-sm}/#{$font-lh-sm} #{$default-font-family};

$font-tiny-heavy: #{$font-semibold} #{$font-size-xs}/#{$font-lh-xs} #{$default-font-family};
$font-tiny-med: #{$font-medium} #{$font-size-xs}/#{$font-lh-xs} #{$default-font-family};
$font-tiny-reg: #{$font-regular} #{$font-size-xs}/#{$font-lh-xs} #{$default-font-family};
/* stylelint-enable */
